{{ 'section-multicolumn.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}

<script src="{{ 'tribute-grid.js' | asset_url }}" defer></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .tribute-item .name {
    line-height: 1.2em;
    font-weight: 600;
  }

  .name-row {
    margin-top: 1.5rem;
  }

  .verified-icon svg {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
  }
  .verified-text {
    align-items: center;
    gap: .3rem;
    font-style: italic;
    font-size: 1.2rem;
    padding: .3rem 1rem;
    border-radius: 20px;
    background: #ece7e4;
  }
  .tribute-link {
    margin: 1rem 0;
    display: block;
    color: #0f4cd5;
  }
  .button--share-tribute {
    --buttons-radius: 25px;
    --buttons-radius-outset: 25px;
    gap: .5rem;
    --color-button: 74, 74, 74;
    margin: 0 !important;
  }

  .button--share-tribute svg {
    display: block;
    height: 1.5rem;
  }

  .button-share-wrapper {
    padding-top: 2rem;
  }

  .filter-row {
    margin-bottom: 3rem;
  }

  .label-filter {
    display: block;
    margin-bottom: .8rem;
    font-size: 1.3rem;
  }

  .filter-tribute-item {
    padding: 0.6rem 1.2rem !important;
    min-height: unset;
    min-width: 6rem;
    margin: 0 !important;
  }

  .filter-tribute {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
    assign item_count = shop.metaobjects['tribute_wall_items'].values_count
    assign item_values = shop.metaobjects['tribute_wall_items'].values

    if section.settings.filter != blank
      assign category_value = section.settings.filter
      assign item_values = item_values | where: 'category', category_value
    endif

  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and item_values.count > columns_mobile_int
    assign show_mobile_slider = true
  endif
-%}

<div class="multicolumn color-{{ section.settings.color_scheme }} gradient{% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div
    class="page-width section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    {%- unless section.settings.title == blank -%}
      <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin multicolumn__title">
        <h2 class="title inline-richtext {{ section.settings.heading_size }}">
          {{ section.settings.title }}
        </h2>
        {%- if section.settings.button_label != blank and show_mobile_slider -%}
          <a href="{{ section.settings.button_link }}" class="link underlined-link large-up-hide">
            {{- section.settings.button_label | escape -}}
          </a>
        {%- endif -%}
      </div>
    {%- endunless -%}
    {% if section.settings.menu_filter_1 != blank %}
      <div class="filter-panel">
        {% if section.settings.menu_filter_1 != blank %}
          <div class="filter-row">
            {% if section.settings.menu_filter_label_1 != blank %}
              <div>
                <span class="label-filter">
                  {{ section.settings.menu_filter_label_1 }}
                </span>
              </div>
            {% endif %}
            <div>
              {% if section.settings.menu_filter_1 != blank %}
                <ul class="list-unstyled filter-tribute">
                  {% for link in section.settings.menu_filter_1.links %}
                    <li>
                      <a href="{{ link.url }}" class="filter-tribute-item button {% if link.active %}active button--primary{% else %}button--secondary{% endif %}">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          </div>
        {% endif %}
      </div>
    {% endif %}

    <slider-component class="slider-mobile-gutter">
      {% paginate item_values by 12 %}
        <ul
          class="multicolumn-list contains-content-container grid grid--{{ section.settings.columns_mobile }}-col-tablet-down grid--{{ section.settings.columns_desktop }}-col-desktop{% if show_mobile_slider %} slider slider--tablet grid--peek{% endif %}"
          id="Slider-{{ section.id }}"
          role="list"
        >
              {%- liquid
                assign highest_ratio = 0
                for item in item_values
                  if item.image.aspect_ratio > highest_ratio
                    assign highest_ratio = item.image.aspect_ratio
                  endif
                endfor
              -%}
              {%- for item in item_values -%}
                {% assign item_id =  item.system.id %}

                <li
                  id="Slide-{{ section.id }}-{{ forloop.index }}"
                  class="multicolumn-list__item tribute-item grid__item{% if section.settings.swipe_on_mobile %} slider__slide{% endif %}{% if section.settings.column_alignment == 'center' %} center{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                  <div class="multicolumn-card content-container" id="{{ item_id }}">
                    {%- if item.image != blank -%}
                      {% if section.settings.image_ratio == 'adapt' or section.settings.image_ratio == 'circle' %}
                        {% assign spaced_image = true %}
                      {% endif %}
                      <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--{{ section.settings.image_width }}-width{% if section.settings.image_width != 'full' or spaced_image %} multicolumn-card-spacing{% endif %}">
                        <div
                          class="media media--transparent media--{{ section.settings.image_ratio }}"
                          {% if section.settings.image_ratio == 'adapt' %}
                            style="padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;"
                          {% endif %}
                        >
                          {%- liquid
                            assign number_of_columns = section.settings.columns_desktop
                            assign number_of_columns_mobile = section.settings.columns_mobile
                            assign grid_space_desktop = number_of_columns | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
                            assign grid_space_tablet = number_of_columns_mobile | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
                            assign grid_space_mobile = number_of_columns_mobile | minus: 1 | times: settings.spacing_grid_horizontal | divided_by: 2 | plus: 30 | append: 'px'
                            if section.settings.image_width == 'half'
                              assign image_width = 0.5
                            elsif section.settings.image_width == 'third'
                              assign image_width = 0.33
                            else
                              assign image_width = 1
                            endif
                          -%}
                          {% capture sizes %}
                            (min-width: {{ settings.page_width }}px) calc(({{ settings.page_width }}px - {{ grid_space_desktop }}) * {{ image_width }} /  {{ number_of_columns }}),
                            (min-width: 990px) calc((100vw - {{ grid_space_desktop }}) * {{ image_width }} / {{ number_of_columns }}),
                            (min-width: 750px) calc((100vw - {{ grid_space_tablet }}) * {{ image_width }} / {{ number_of_columns_mobile }}),
                            calc((100vw - {{ grid_space_mobile }}) * {{ image_width }} / {{ number_of_columns_mobile }})
                          {% endcapture %}
                          {{
                            item.image.value
                            | image_url: width: 3200
                            | image_tag:
                              widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200',
                              sizes: sizes,
                              class: 'multicolumn-card__image'
                          }}
                          <span class="icon-heart-tribute">
                              {{ 'icon-heart.svg' | inline_asset_content }}
                          </span>
                        </div>
                      </div>
                    {%- endif -%}
                    <div class="multicolumn-card__info">
                      {%- if item.title != blank -%}
                        <h3 class="inline-richtext">{{ item.title }}</h3>
                      {%- endif -%}
                      {%- if item.content != blank -%}
                        <div class="rte">{{ item.content | metafield_tag }}</div>
                      {%- endif -%}
                      {% if item.product_link != blank %}
                        <a href="{{ item.product_link.value.url }}" title="{{ item.product_link.value.text }}" class="tribute-link">[{{ item.product_link.value.text }}]</a>
                      {% endif %}
                      {%- if item.name != blank -%}
                        <div class="name-row d-flex gap-1 flex-d-column align-center justify-center">
                          <div>
                            <div class="rte name">- {{ item.name }}</div>
                          </div>
                          <div>
                            <div class="verified-text d-flex">
                              <div>
                                <span class="verified-icon">{{- 'icon-verified.svg' | inline_asset_content -}}</span>
                              </div>
                              <div>
                                {{ 'accessibility.verified_purchase' | t }}
                              </div>
                            </div>
                          </div>
                        </div>
                      {%- endif -%}
                      
                      <div class="button-share-wrapper">
                        {% comment %} Get the current URL {% endcomment %}
                        {% capture finalurl %}{% render 'full-url' %}{% endcapture %}
                        
                        {% comment %} Parse the URL {% endcomment %}
                        {% assign url_parts = finalurl | split: '?' %}
                        {% assign base_url = url_parts[0] %}
                        {% assign query_string = url_parts[1] %}
                        
                        {% comment %} Create random number {% endcomment %}
                        {% assign random_number = "now" | date: "%s" | modulo: 10000 %}
                        
                        {% comment %} Start building query string {% endcomment %}
                        {% assign new_query_string = "" %}
                        
                        {% comment %} Add tribute parameter {% endcomment %}
                        {% if item_id and item_id != blank %}
                          {% assign new_query_string = new_query_string | append: "tribute=" | append: item_id %}
                        {% endif %}
                        
                        {% comment %} Add version parameter {% endcomment %}
                        {% if new_query_string != "" %}
                          {% assign new_query_string = new_query_string | append: "&" %}
                        {% endif %}
                        {% assign new_query_string = new_query_string | append: "v=" | append: random_number %}
                        
                        {% comment %} Add other existing parameters EXCEPT tribute and v {% endcomment %}
                        {% if query_string and query_string != blank %}
                          {% assign existing_params = query_string | split: '&' %}
                          {% for param in existing_params %}
                            {% assign param_name = param | split: '=' | first %}
                            {% unless param_name == 'tribute' or param_name == 'v' %}
                              {% if new_query_string != "" %}
                                {% assign new_query_string = new_query_string | append: "&" %}
                              {% endif %}
                              {% assign new_query_string = new_query_string | append: param %}
                            {% endunless %}
                          {% endfor %}
                        {% endif %}
                        
                        {% comment %} Construct the final URL {% endcomment %}
                        {% if new_query_string != "" %}
                          {% capture sharer_url %}{{ base_url }}?{{ new_query_string }}{% endcapture %}
                        {% else %}
                          {% assign sharer_url = base_url %}
                        {% endif %}
                        
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ sharer_url | url_encode }}"
                          data-share-url="https://www.facebook.com/sharer/sharer.php?u={{ sharer_url | url_encode }}"
                          data-plain-url="{{ sharer_url }}"
                          data-id="{{ item_id }}"
                          data-title="{{ item.title | escape }}"
                          target="_blank" class="button button--full-width button--share-tribute">
                          <span class="button-share-content">
                            {{ 'icon-facebook-flat.svg' | inline_asset_content }}
                          </span>
                          <span class="button-share-content">
                            {{ 'accessibility.share_this_tribute' | t }}
                          </span>
                          {%- render 'loading-spinner' -%}
                        </a>
                      </div>
                    </div>
                  </div>
                </li>
              {%- endfor -%}
              
        </ul>
        {%- if paginate.pages > 1 -%}
          {%- render 'pagination', paginate: paginate -%}
        {%- endif -%}
      {% endpaginate %}

      {%- if show_mobile_slider -%}
        <div class="slider-buttons large-up-hide">
          <button
            type="button"
            class="slider-button slider-button--prev"
            name="previous"
            aria-label="{{ 'general.slider.previous_slide' | t }}"
          >
            {% render 'icon-caret' %}
          </button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            <span class="slider-counter--total">{{ section.blocks.size }}</span>
          </div>
          <button
            type="button"
            class="slider-button slider-button--next"
            name="next"
            aria-label="{{ 'general.slider.next_slide' | t }}"
          >
            {% render 'icon-caret' %}
          </button>
        </div>
      {%- endif -%}
    </slider-component>
  </div>
</div>

{% schema %}
{
  "name": "Tribute Grid",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "link_list",
      "id": "menu_filter_1",
      "label": "Menu filter 1"
    },
    {
      "type": "text",
      "id": "menu_filter_label_1",
      "label": "Menu filter 1 label"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "t:sections.multicolumn.settings.title.default",
      "label": "t:sections.multicolumn.settings.title.label"
    },
    {
      "type": "text",
      "id": "filter",
      "label": "Filter By"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "image_width",
      "options": [
        {
          "value": "third",
          "label": "t:sections.multicolumn.settings.image_width.options__1.label"
        },
        {
          "value": "half",
          "label": "t:sections.multicolumn.settings.image_width.options__2.label"
        },
        {
          "value": "full",
          "label": "t:sections.multicolumn.settings.image_width.options__3.label"
        }
      ],
      "default": "full",
      "label": "t:sections.multicolumn.settings.image_width.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.multicolumn.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.multicolumn.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.multicolumn.settings.image_ratio.options__3.label"
        },
        {
          "value": "circle",
          "label": "t:sections.multicolumn.settings.image_ratio.options__4.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.multicolumn.settings.image_ratio.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "t:sections.multicolumn.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.multicolumn.settings.column_alignment.label"
    },
    {
      "type": "select",
      "id": "background_style",
      "options": [
        {
          "value": "none",
          "label": "t:sections.multicolumn.settings.background_style.options__1.label"
        },
        {
          "value": "primary",
          "label": "t:sections.multicolumn.settings.background_style.options__2.label"
        }
      ],
      "default": "primary",
      "label": "t:sections.multicolumn.settings.background_style.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.multicolumn.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.multicolumn.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.multicolumn.settings.columns_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.multicolumn.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Tribute Grid"
    }
  ]
}
{% endschema %}
